{% extends 'base.html'%}

{%block title %} Electric Car{%endblock title%} 

{%block body%}

<h1 class="my-4 text-center">Electric Car</h1>
<div class="row row-cols-1 row-cols-md-4 g-3">
  <div class="col">
    <div class="card">
      <img src="/static/kona.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Hyundai Kona </h5>
        <div class="card-text">
            Fuel Type: Electric | Range : 452km | Seating  : 5 | Max Power: 134.14bhp <br>
            Battery Capacity : 39.2kWh | Price : 23.97 Lakh
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/nexon.jpg" class="card-img-top"  width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Tata Nexon EV</h5>
        <div class="card-text">
            Fuel Type: Electric | Range : 312km | Seating  : 5 | Max Power: 127bhp <br>
            Battery Capacity : 30.2kWh | Price : 16.85 Lakh
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/zs.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">MG ZS EV</h5>
        <div class="card-text">
            Fuel Type: Electric | Range : 419km | Seating  : 5 | Max Power: 140.8bhp <br>
            Battery Capacity : 44.5kWh | Price : 24.58 Lakh
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/eqv.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Mercedes-Benz EQC</h5>
        <div class="card-text">
            Fuel Type: Electric | Range : 455km | Seating  : 5 | Max Power: 402.30bhp <br>
            Battery Capacity : 80kWh <br>
            Price : 1.01 Cr
        </div>
      </div>
    </div>
  </div>

  
</div>


{%endblock body%}