
{% extends 'base.html'%}

{%block title %} About {%endblock title%} 

{%block body%}

<div class="row row-cols-1 row-cols-md-4 g-3">
  <div class="col">
    <div class="card">
      <img src="/static/rolls.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Rolls-Royce Phantom</h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 9.8kmpl | Seating: 5 | Max Power: 563bhp <br>
            Engine Displacement: 6749cc | Fuel Tank: 100L | Price: 10.48Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/bmw7.jpg" class="card-img-top"  width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">BMW 7 Series</h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 7.96kmpl | Seating: 4 | Max Power: 600bhp <br>
            Engine Displacement: 4592cc | Fuel Tank: 78L | Price: 2.46Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/Mercedes Benz E Class.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Mercedes Benz E Class</h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 15kmpl | Seating: 5 | Max Power: 603bhp <br>
            Engine Displacement: 3982cc | Fuel Tank: 66L | Price: 1.70Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/xj.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Jaguar XJ</h5>
        <div class="card-text">
            Fuel Type: Diesel | Mileage: 14.47kmpl | Seating: 5 | Max Power: 301.73bhp <br>
            Engine Displacement: 2993cc | Fuel Tank: 82L | Price: 1.11Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/a8.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Audi A8 </h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 11.7kmpl | Seating: 5 | Max Power: 335.2bhp <br>
            Engine Displacement: 2995cc | Fuel Tank: 72L | Price: 1.57Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/s90.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Volvo S90 </h5>
        <div class="card-text">
            Fuel Type: Diesel | Mileage: 18kmpl | Seating: 5 | Max Power: 190bhp <br>
            Engine Displacement: 1969cc | Fuel Tank: 72L | Price: 60.90Lakh
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/accord.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Honda Accord </h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 23kmpl | Seating: 5 | Max Power: 143bhp <br>
            Engine Displacement: 1993cc | Fuel Tank: 60L | Price: 43.21Lakh
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/cramy.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Toyota Camry  </h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 19kmpl | Seating: 5 | Max Power: 214bhp <br>
            Engine Displacement: 2487cc | Fuel Tank: 50L | Price: 40.59Lakh
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock body%}