{%load static %}
{% extends 'base.html'%}

{%block title %}Sport Car {%endblock title%} 

{%block body%}

<h1 class="my-4 text-center">Sport Car</h1>
<div class="row row-cols-1 row-cols-md-4 g-3">
  <div class="col">
    <div class="card">
      <img src="/static/ford.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Ford Mustang</h5>
        <div class="card-text">
            Fuel Type: Diesel | Mileage: 13kmpl | Seating: 4 | Max Power: 395bhp <br>
            Engine Displacement: 4951cc | Fuel Tank: 61L | Price: 74.62Lakh
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/f.jpg" class="card-img-top"  width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Jaguar F-TYPE</h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 12kmpl | Seating: 2 | Max Power: 567.25bhp <br>
            Engine Displacement: 5000cc | Fuel Tank: 70L | Price: 2.61Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/nissan.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Nissan GT-R </h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 9kmpl | Seating: 4 | Max Power: 562.20bhp <br>
            Engine Displacement: 3798cc | Fuel Tank: 74L | Price: 2.12Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/ben.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Bentley Continental </h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 9.8kmpl | Seating: 4 | Max Power: 562bhp <br>
            Engine Displacement: 5998cc | Fuel Tank: 90L | Price: 3.91Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/rs5.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Audi RS5</h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 808kmpl | Seating: 4 | Max Power: 443.87bhp <br>
            Engine Displacement: 2894cc | Fuel Tank: 58L | Price: 1.04Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/aventador.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title"> Lamborghini Aventador</h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 7.69kmpl | Seating: 2 | Max Power: 759.01bhp <br>
            Engine Displacement: 6498cc | Fuel Tank: 90L | Price: 6.25Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/sf90.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title"> Ferrari SF90 Stradale</h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 13.9kmpl | Seating: 2 | Max Power: 769.31bhp <br>
            Engine Displacement: 3990cc | Fuel Tank: 68L | Price: 7.50Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/8.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">BMW 8 Series</h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 5.59kmpl | Seating: 4 | Max Power: 600bhp <br>
            Engine Displacement: 4395cc | Fuel Tank: 68L | Price: 2.18Cr
        </div>
      </div>
    </div>
  </div>

  
</div>


{%endblock body%}