
{% extends 'base.html'%}

{%block title %} SUV Car{%endblock title%} 

{%block body%}

<h1 class="my-4 text-center">SUV Car</h1>
<div class="row row-cols-1 row-cols-md-4 g-3">
  <div class="col">
    <div class="card">
      <img src="/static/velar.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Range Rover Velar </h5>
        <div class="card-text">
            Fuel Type: Diesel | Mileage: 15.8kmpl | Seating: 5 | Max Power: 201.15bhp <br>
            Engine Displacement: 1999cc | Fuel Tank: 80.2L | Price: 80.71Lakh
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/x7.jpg" class="card-img-top"  width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">BMW X7</h5>
        <div class="card-text">
            Fuel Type: Diesel | Mileage: 13kmpl | Seating: 7 | Max Power: 394.26bhp <br>
            Engine Displacement: 2993cc | Fuel Tank: 80.0L | Price: 1.65Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/gls600.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Maybach GLS 600</h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 8.5kmpl | Seating: 5 | Max Power: 550bhp <br>
            Engine Displacement: 3982cc | Fuel Tank: 90L | Price: 2.43Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/sports.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Range Rover Sport</h5>
        <div class="card-text">
            Fuel Type: Petrol | Mileage: 7.8kmpl | Seating: 5 | Max Power: 567.25bhp <br>
            Engine Displacement: 5000cc | Fuel Tank: 105L | Price: 2.19Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/defender.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Land Rover Defender</h5>
        <div class="card-text">
            Fuel Type: Diesel | Mileage: 14.01kmpl | Seating: 6 | Max Power: 296.3bhp <br>
            Engine Displacement: 2995cc | Fuel Tank: 89L | Price: 1.11Cr
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/fortuner.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Toyota Fortuner</h5>
        <div class="card-text">
            Fuel Type: Diesel | Mileage: 10.52kmpl | Seating: 7 | Max Power: 201.15bhp <br>
            Engine Displacement: 2755cc | Fuel Tank: 80L | Price: 38.30Lakh
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/endeavour.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Ford Endeavour</h5>
        <div class="card-text">
            Fuel Type: Diesel | Mileage: 13.9kmpl | Seating: 7 | Max Power: 167.62bhp <br>
            Engine Displacement: 1996cc | Fuel Tank: 80L | Price: 36.26Lakh
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="/static/pace.jpg" class="card-img-top" alt="..." width="300" height="220">
      <div class="card-body">
        <h5 class="card-title">Jaguar F-Pace</h5>
        <div class="card-text">
            Fuel Type: Diesel | Mileage: 18kmpl | Seating: 5 | Max Power: 201.15bhp <br>
            Engine Displacement: 1997cc | Fuel Tank: 60L | Price: 69.99Lakh
        </div>
      </div>
    </div>
  </div>

  
</div>


{%endblock body%}